{% extends 'shared/base.html' %}

{% block content %}
    {% block title %}
        <title>Change Password Complete | TopStore</title>
    {% endblock %}
    <div class="contact-message">
        <h3 class="title-big text-capitalize">Change Password Complete!</h3>
        <br>
        <h4>Your password has been successfully changed.</h4>
        <br>
        <button class="main-btn bgr-green m-2">
            <a class="text-white" href="{% url 'details account user' %}">Go Back</a>
        </button>
    </div>
{% endblock %}