{% extends 'shared/base.html' %}

{% block content %}
    {% block title %}
        <title>Change Password | TopStore</title>
    {% endblock %}
    <div class="contact-message">
        <h3 class="title-big text-capitalize">Change Password</h3>
        <br>
        <form class="col-lg-4 m-auto" method="POST">
            {% csrf_token %}
            {% for field in form %}
                {{ field.label_tag }}
                {{ field }}
            {% endfor %}
            {{ form.errors }}
            <br>
            <button class="main-btn m-2">
                <input class="remove-margin" type="submit" value="Change Password"/>
            </button>
            <button class="main-btn bgr-green m-2">
                <a class="text-white" href="{% url 'details account user' %}">Go Back</a>
            </button>
        </form>
        <br>
    </div>
{% endblock %}