{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
    {% block title %}
        <title>{{ user.username | capfirst }} | TopStore</title>
    {% endblock %}
    <div class="text-center">
        <h3 class="title-big text-capitalize">Welcome, {{ user.username | capfirst }}!</h3>
        <br>
        {% if account.profile_image %}
            <img class="rounded-circle profile-image-account m-2" src="{{ account.profile_image.url }}" alt="">
        {% else %}
            <img class="rounded-circle profile-image-account m-2" src="{% static 'images/generic_account.png' %}"
                 alt="">
        {% endif %}
        <div class="d-flex justify-content-center align-items-center w-100 m-auto flex-column">
            <form class="d-flex m-10" action="{% url 'details account user' %}" method="post"
                  enctype="multipart/form-data">
                <br>
                {% csrf_token %}
                {{ form.profile_image }}
                <br/>
                <button class="main-btn bgr-red mx-2" type="submit">
                    <span class="text-white">Update</span>
                </button>
            </form>
            <div class="m-4">
                {% if not user.is_staff %}
                    <button class="main-btn bgr-green m-2">
                        <a class="text-white" href="{% url 'completed orders user' %}">Orders </a>
                    </button>
                {% else %}
                    <button class="main-btn bgr-green m-2">
                        <a class="text-white" href="{% url 'completed orders user' %}">All Orders </a>
                    </button>
                {% endif %}
                <button class="main-btn bg-info m-2">
                    <a href="{% url 'password_change' %}">Change Pass </a>
                </button>
                <button class="main-btn m-2">
                    <a href="{% url 'sign out user' %}">Sign Out </a>
                </button>
            </div>
        </div>
        {% if liked_products %}
            <h5 class="title-big text-capitalize">Liked products</h5>
            <br>
            <div class="d-flex justify-content-center flex-wrap">
                {% for liked_product in liked_products %}
                    <div class="card">
                        <div class="product-image"
                             style="background-image: url(
                                     {% if liked_product.product.product_image %}{{ liked_product.product.product_image.url }}{% else %}{% static 'images/generic_product.png' %}{% endif %}
                                     ) ">
                        </div>
                        <div class="card-body">
                            <hr class="w-100"/>
                            <p class="card-title text-center">{{ liked_product.product.type }}</p>
                            <p>{{ liked_product.product.name }}</p>
                            <p class="text-center font-weight-bold text-danger">{{ liked_product.product.price }}
                                BGN</p>
                            <button class="main-btn">
                                <a href="{% url 'details product' liked_product.product.id %}">See details</a>
                            </button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <br>
        <ul class="pagination justify-content-center">
            {% if liked_products.has_previous %}
                <li class="page-item">
                    <a href="?page={{ liked_products.previous_page_number }}" class="page-link">&laquo;</a>
                </li>
            {% endif %}

            {% for page in liked_products.paginator.page_range %}
                {% if liked_products.number == page %}
                    <li class="page-item active">
                        <a href="?page={{ page }}" class="page-link">{{ page }}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a href="?page={{ page }}" class="page-link">{{ page }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if liked_products.has_next %}
                <li class="page-item">
                    <a href="?page={{ liked_products.next_page_number }}" class="page-link">&raquo;</a>
                </li>
            {% endif %}
        </ul>
        <br>
    </div>
{% endblock %}