{% extends 'shared/base.html' %}

{% block content %}
    {% block title %}
        <title>Password Reset | TopStore</title>
    {% endblock %}
    <div class="contact-message">
        <h3 class="title-big text-capitalize">Password Reset</h3>
        <br>
        <h4>Forgotten your password?</h4>
        <br>
        <h5> Type your email below.</h5>
        <br>
        <h5>Instructions will be send for setting up a new one.</h5>
        <br>
        <form class="col-lg-4 m-auto" method="POST">
            {% csrf_token %}
            {% for field in form %}
                {{ field.label_tag }}
                {{ field }}
            {% endfor %}
            {{ form.errors }}
            <br>
            <button class="main-btn m-2">
                <input class="remove-margin" type="submit" value="Send Email"/>
            </button>
            <button class="main-btn bgr-green m-2">
                <a class="text-white" href="{% url 'all products' %}">Go Back</a>
            </button>
        </form>
        <br>
    </div>
{% endblock %}
