{% extends 'shared/base.html' %}

{% block content %}
    {% block title %}
        <title>Password Reset Sent | TopStore</title>
    {% endblock %}
    <div class="contact-message">
        <h3 class="title-big text-capitalize">Password Reset Sent</h3>
        <br>
        <h5>
            We have emailed you instructions for setting up a new password.
        </h5>
        <br>
        <h5>
            You should receive them shortly if email account exists.
        </h5>
        <br>
        <h5>
            If you do not receive instructions, please make sure you have entered the proper email
            and check your spam folder.
        </h5>
        <br>
        <button class="main-btn bgr-green m-2">
            <a class="text-white" href="{% url 'all products' %}">Go Back</a>
        </button>
        <br>
    </div>
{% endblock %}
