{% extends 'shared/base.html' %}

{% block content %}
    {% block title %}
        <title>Password Reset Complete | TopStore</title>
    {% endblock %}
    <div class="contact-message">
        <h3 class="title-big text-capitalize">Password Reset Complete!</h3>
        <br>
        <h4>Your password has been set.</h4>
        <br>
        <h4>You may go ahead and sign in now.</h4>
        <br>
        <button class="main-btn">
            <a href="{% url 'sign in user' %}">Sign In</a>
        </button>
    </div>
{% endblock %}

