{% extends 'shared/base.html' %}
{% block content %}
    <div class="container text-center">
        <div class="col-lg-6 m-auto">
            <form method="post" action="{% url 'sign up user' %}">
                <h2>Sign up</h2>
                {% csrf_token %}
                {{ form }}
                {{ form.errors }}
                <br/>
                <button class="main-btn m-2" type="submit"><span>Sign up</span></button>
                <br>
                <span class="text-right">Have an account?
                        <a href="{% url 'sing in user' %}" class="auth-label">Sign in here</a>
                    </span>
            </form>
        </div>
    </div>
{% endblock %}