@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@500&display=swap');

body {
    background-color: hsl(0, 0%, 98%);
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
    font-weight: bold;
}

label {
    display: block;
}

textarea {
    display: block;
    max-width: 100%;
    width: 100%;
}

.col-lg-4,
.col-lg-6,
.col-lg-8,
.col-lg-12 {
    margin-top: 10px;
}

a {
    color: black;
    text-decoration: none;
    background-color: transparent;
}

a:hover,
input[type="submit"]:hover,
.main-btn:hover {
    color: #40318C;
    text-decoration: none;
}

.main-btn {
    width: fit-content;
    border: 0;
    border-radius: 5px;
    background-color: #41318d59;
    font-size: 20px;
    padding: 5px 0;
}

.main-btn > * {
    padding: 5px 15px;
}

.main-btn a,
.main-btn input[type="submit"] {
    text-transform: capitalize;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    outline: inherit;
    width: auto;
}

.main-btn:disabled,
.main-btn:disabled:hover {
    background-color: gray;
    cursor: not-allowed;
}

.bgr-red {
    background-color: #e91010;
    transition: background-color 0.2s ease-in;
}

.bgr-red:hover {
    background-color: #f85f5f
}

.bgr-green {
    background-color: #28a745;
    transition: background-color 0.2s ease-in;
}

.bgr-green:hover {
    background-color: #5ab17f;
}

.title-big,
.title-small {
    margin-bottom: 25px;
    text-align: center;
    color: #40318C;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1.2;
}

.title-big {
    font-size: 35px;
}

.title-small {
    font-size: 25px;
}

.pagination .page-item.active a {
    background-color: #bdb7d7;
    border-color: #bdb7d7;
    color: black;
}

.pagination .page-link {
    color: black;
}

.container {
    min-height: calc(100vh - 320px);
    padding-top: 15px;
    padding-bottom: 15px;
}

ul.errorlist {
    text-align: left;
    text-transform: capitalize;
    list-style-type: none;
    color: red;
}

/* navigation */

.navbar-dark .navbar-nav .nav-link {
    color: black;
    font-weight: bold;
    font-size: 16px;
    padding-right: 20px;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #40318C;
}

.navbar-collapse {
    justify-content: flex-end;
}

li.nav-item {
    text-align: right;
}

.navbar-nav {
    align-items: center;
}

.profile-image-nav {
    width: 45px;
    height: 45px;
}

/* end navigation */

/* footer */
footer {
    bottom: 0;
    width: 100%;
    color: black;
    font-size: 14px;
    background: #41318d59;
    padding: 15px 0;
}

.logo-footer {
    width: 160px;
    display: block;
    margin: 0 auto;
}

.app-logo {
    margin-top: 20px;
}

.app-logo img {
    width: 140px;
}

/* end footer */

/* about us */

.about-us {
    width: 100%;
}

.wrapper-about-us {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.content-about-us {
    max-width: 660px;
    text-align: left;
    padding: 0 10px;
}

.image-section-about-us {
    max-width: 440px;
    padding: 0 10px;
}

.image-section-about-us img {
    max-width: 100%;
    height: auto;
}

.about-us-h3 {
    letter-spacing: 1px;
    font-size: 30px;
}

.about-us-p {
    font-size: 18px;
    margin-top: 20px;
}

.social-about-us {
    margin-top: 20px;
}

.social-about-us a {
    margin-right: 5px;
}

.social-about-us a i {
    height: 40px;
    width: 40px;
    transition: ease;
}

/* about us end */

/* contact */

.contact-us {
    width: 100%;
}

.wrapper-contact-us {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.content-contact-us {
    max-width: 660px;
    text-align: left;
    padding: 0 10px;
}

.image-section-contact-us {
    max-width: 440px;
    padding: 0 10px;
}

.image-section-contact-us img {
    max-width: 100%;
    height: auto;
}

.contact-us-p {
    font-size: 18px;
    margin-top: 20px;
}

.contact-content-container {
    text-align: center;
}

.contact-form-container {
    width: 50%;
    text-align: right;
}

.contact-form-container textarea,
.contact-form-container input {
    width: 350px;
    display: inline-block;
}

.contact-form-container input[type="submit"] {
    background: none;
    border: none;
    cursor: pointer;
    outline: inherit;
    width: auto;
    padding: 0 15px;
}

@media only screen and (max-width: 800px) {
    .contact-form-container {
        width: 100%;
        text-align: center;
    }

    .contact-form-container textarea,
    .contact-form-container input {
        display: block;
        max-width: 100%;
        width: 100%;
    }
}

.social-contact-us {
    margin-top: 20px;
}

.social-contact-us a {
    margin-right: 5px;
}

.social-contact-us a i {
    height: 40px;
    width: 40px;
    transition: ease;
}

/* contact form */

.change-form-1 .change-form-2 {
    float: right;
}

/* contact message */

.contact-message {
    text-align: center;
}

/* end contact us */

/* product card in home and products pages */

.product-image {
    width: 220px;
    height: 250px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.card {
    width: 220px;
    margin: 5px 20px;
    min-width: 220px;
    overflow: hidden;
    border-radius: 5px;
}

.card .card-body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
}

/* end product card */

/* product details page */

.details-image {
    max-width: 320px;
    height: 350px;
    margin: auto;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.item {
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
}

.item h2 {
    font-size: 22px;
}

.buttons-container {
    display: flex;
    justify-content: space-evenly;
}

/* end product details page */

/* profile image account */

.profile-image-account {
    width: 140px;
    height: 140px;
}

/* end profile image account */

/* cart and checkout */

.box-element {
    box-shadow: hsl(0, 0%, 80%) 0 0 16px;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
}

#cart-icon {
    width: 40px;
    display: inline-block;
    margin-left: 15px;
}

#cart-total {
    display: block;
    text-align: center;
    color: #fff;
    background-color: #387554;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    font-size: 14px;
}

.form-field {
    width: 250px;
    display: inline-block;
    padding: 5px;
}

.additional-info-text-area {
    width: 471px;
    margin: 5px auto;
}

.cart-row {
    display: flex;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
}

.quantity {
    display: inline-block;
    font-weight: 700;
    padding-right: 10px;
}

.quantity p {
    margin: 0;
    padding: 0 10px;
}

.chg-quantity {
    cursor: pointer;
    font-size: 22px;
}

.chg-quantity:hover {
    opacity: .6;
}

/* product image cart */

.product-image-cart,
.item-product-name {
    flex: 2;
}

.product-image-cart img {
    width: 125px;
    height: 125px;
}

/* end product image cart */

@media only screen and (max-width: 600px) {
    .product-image-cart {
        flex: 1;
    }

    .product-image-cart img {
        width: 75px;
        height: 75px;
    }

    .item-product-name {
        display: none;
    }

    .box-element,
    .box-element h5,
    .box-element button,
    .box-element button a {
        font-size: 14px;
    }
}

/* end cart and checkout */

/* completed orders */
@media only screen and (max-width: 1024px) {
    .completed-orders-table .row-mobile {
        display: none;
    }
}

@media only screen and (max-width: 450px) {
    .completed-orders-table .row-mobile-small {
        display: none;
    }
}

/* end completed orders */

/* user auth */

.auth-label {
    color: orange;
}



