{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
    <h3 class="ta-center">All Products</h3>
    <div class="dropdown ta-right">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            Categories
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{% url 'all products' %}">All</a>
            {% for type in types %}
                <a class="dropdown-item" href="{% url 'filter products' type %}">{{ type|capfirst }}</a>
            {% endfor %}
        </div>
    </div>
    <br>
    <div class="d-flex justify-content-center flex-wrap">
        {% if not all_products %}
            <h3 class="ta-center">No products available!</h3>
        {% else %}
            {% for product in all_products %}
                <div class="card">
                    <div class="product-image"
                         style="background-image: url(
                                 {% if product.product_image %}{{ product.product_image.url }}{% else %}{% static 'images/generic_product.png' %}{% endif %}
                                 ) ">
                    </div>
                    <div class="card-body">
                        <p class="card-title ta-center">{{ product.type }}</p>
                        <p>{{ product.name }}</p>
                        <p class="ta-center font-weight-bold text-danger">{{ product.price }} BGN</p>
                        <a href="{% url 'details product' product.id %}" class="btn btn-primary">See details</a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <br>
    <ul class="pagination justify-content-center">
        {% if all_products.has_previous %}
            <li class="page-item">
                <a href="?page={{ all_products.previous_page_number }}" class="page-link">&laquo;</a>
            </li>
        {% endif %}

        {% for page in all_products.paginator.page_range %}
            {% if all_products.number == page %}
                <li class="page-item active">
                    <a href="?page={{ page }}" class="page-link">{{ page }}</a>
                </li>
            {% else %}
                <li class="page-item">
                    <a href="?page={{ page }}" class="page-link">{{ page }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if all_products.has_next %}
            <li class="page-item">
                <a href="?page={{ all_products.next_page_number }}" class="page-link">&raquo;</a>
            </li>
        {% endif %}
    </ul>
    <br>
    <h3 class="ta-center">Go to <a href="{% url 'store' %}" class="btn btn-primary">Store</a></h3>
    <br>
{% endblock %}