{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
    {% block title %}
        <title>Details Product | TopStore</title>
    {% endblock %}
    <div class="d-flex justify-content-center">
        <div class="item-container w-100 m-auto">
            <h2 class="title-big text-capitalize">Product Details</h2>
            <div class="item">
                <br>
                <h2>{{ product.name }}</h2>
                <br/>
                <div class="details-image"
                     style="background-image: url(
                             {% if product.product_image %}{{ product.product_image.url }}{% else %}{% static 'images/generic_product.png' %}{% endif %}
                             ) ">
                </div>
                <br>
                <h3>Description</h3>
                <div class="text-right">
                    {% if user.is_authenticated and not user.is_staff %}
                        <a class="h2" href="{% url 'like product' product.id %}">
                            {% if is_liked %}
                                <i class="fa fa-heart text-danger" aria-hidden="true"></i>
                            {% else %}
                                <i class="far fa-heart" aria-hidden="true"></i>
                            {% endif %}
                        </a>
                    {% endif %}
                    <p class="mt-2">Likes: {{ product.likes_count }}</p>
                </div>
                <div class="product-info-full">
                    {{ product.description }}
                </div>
                <br>
                <h4 class="text-danger text-center">Price: {{ product.price | floatformat:2 }} BGN</h4>
                <br>
                <div class="buttons-container">
                    {% if user.is_staff %}
                        <button class="main-btn bgr-green">
                            <a class="text-white" href="{% url 'update product' product.id %}">Edit</a>
                        </button>
                        <button class="main-btn bgr-red">
                            <a class="text-white" href="{% url 'delete product' product.id %}">Delete</a>
                        </button>
                    {% else %}
                        {% if user.is_authenticated %}
                            <button data-product={{ product.id }} data-action="add"
                                    class="main-btn bgr-red update-cart">
                                <span class="text-white">Add to Cart</span>
                            </button>
                        {% else %}
                            <button class="main-btn bgr-red">
                                <a class="text-white" href="{% url 'sign in user' %}">Add to Cart</a>
                            </button>
                        {% endif %}
                        <button class="main-btn bgr-green">
                            <a class="text-white" href="{% url 'store' %}">Back</a>
                        </button>
                    {% endif %}
                </div>
                <br>
                <div class="d-block review-container">
                    {% if reviews %}
                        {% for review in reviews %}
                            <div class="box text-left">
                                <h5>{% if review.user.profile.profile_image %}
                                    <img class="rounded-circle profile-image-nav"
                                         src="{{ review.user.profile.profile_image.url }}" alt="">
                                {% else %}
                                    <img class="rounded-circle profile-image-nav"
                                         src="{% static 'images/generic_account.png' %}" alt="">
                                {% endif %}<strong class="text-secondary">&nbsp;{{ review.user | capfirst }}</strong> :
                                    <em>{{ review.text }}</em>
                                </h5>
                                <hr>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="box">
                            <h5>There are no reviews for this product. </h5>
                        </div>
                    {% endif %}
                    {% if user.is_authenticated and not user.is_staff %}
                        <div class="box">
                            <form method="post" action="{% url 'review product' product.id %}">
                                {% csrf_token %}
                                {{ review_form }}
                                <br/>
                                <button class="main-btn mt-2" type="submit">
                                    <span>Add review</span>
                                </button>
                            </form>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

