{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
    {% block title %}
        <title>{{ user.username | capfirst }}'s Cart | TopStore</title>
    {% endblock %}
    {% if user.is_staff %}
        <div class="text-center">
            <h4><strong>You are logged as a staff!</strong></h4>
            <br>
            <h5>Staff does not have permission to order!</h5>
            <br>
            <button class="main-btn">
                <a href="{% url 'all products' %}">Go back</a>
            </button>
        </div>
    {% else %}
        <div class="row flex-wrap">
            <div class="w-100">
                <div class="box-element">
                    <button class="main-btn bgr-green">
                        <a class="text-white" href="{% url 'all products' %}">
                            <i class="far fa-caret-square-left"></i> &nbsp;Continue Shopping
                        </a>
                    </button>
                    <br>
                    <br>
                    <table class="table">
                        <tr>
                            <th>
                                <h5>Items: <strong>&nbsp;{{ order.total_cart_items_count }}</strong></h5>
                            </th>
                            <th>
                                <h5>Total:
                                    <strong class="text-danger">
                                        &nbsp;{{ order.total_cart_items_price | floatformat:2 }} BGN
                                    </strong>
                                </h5>
                            </th>
                            <th class="text-right">
                                <button class="main-btn bgr-green">
                                    <a class="text-white" href="{% url 'checkout' %}">
                                        Checkout &nbsp;<i class="far fa-caret-square-right"></i>
                                    </a>
                                </button>
                            </th>
                        </tr>
                    </table>
                </div>
                <br>
                <div class="box-element">
                    <div class="cart-row">
                        <div class="product-image-cart mx-1"><strong>Image</strong></div>
                        <div class="item-product-name mx-1"><strong>Name</strong></div>
                        <div class="mx-1" style="flex:1"><strong>Price</strong></div>
                        <div class="mx-1" style="flex:1"><strong>Quantity</strong></div>
                        <div class="mx-1" style="flex:1"><strong>Total</strong></div>
                    </div>
                    {% if not items %}
                        <p>No items added!</p>
                    {% else %}
                        {% for item in items %}
                            <div class="cart-row">
                                <div class="product-image-cart mx-1">
                                    {% if item.product.product_image %}
                                        <img src="{{ item.product.product_image.url }}" alt="">
                                    {% else %}
                                        <img src="{% static 'images/generic_product.png' %}" alt="">
                                    {% endif %}
                                </div>
                                <div class="mx-1 item-product-name">
                                    <strong>{{ item.product.name }}</strong>
                                </div>
                                <div class="text-danger mx-1" style="flex:1">
                                    <p>{{ item.product.price | floatformat:2 }} BGN</p>
                                </div>
                                <div class="mx-1" style="flex:1">
                                    <div class="quantity d-flex align-items-center">
                                        <i data-product={{ item.product.id }} data-action="remove"
                                           class="fas fa-minus-circle chg-quantity update-cart"></i>
                                        <p><strong>{{ item.quantity }}</strong></p>
                                        <i data-product={{ item.product.id }} data-action="add"
                                           class="fas fa-plus-circle chg-quantity update-cart"></i>
                                    </div>
                                </div>
                                <div class="mx-1" style="flex:1">
                                    <p class="text-danger">
                                        <strong>{{ item.total_price_item }} BGN</strong>
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}