{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
    {% block title %}
        <title>{{ user.username | capfirst }}'s Checkout | TopStore</title>
    {% endblock %}
    <div class="contact-message">
        <h1 class="title-big text-capitalize">Your order was send successfully!</h1>
        <br>
        <h2>Our team will contact you once the order is processed.</h2>
        <br>
        <h2>Thank you for purchasing from our site!</h2>
        <br>
        <button class="main-btn">
            <a href="{% url 'all products' %}">Back to Products</a>
        </button>
    </div>
{% endblock %}