{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
    {% if not trending_products and new_additions %}
        <br>
        <h3 class="ta-center">No products available!</h3>
    {% else %}
        <br>
        <h3 class="ta-center">Trending Products</h3>
        <br>
        <div class="d-flex justify-content-center flex-wrap">
            {% for product in trending_products %}
                <div class="card">
                    <div class="product-image"
                         style="background-image: url(
                                 {% if product.product_image %}{{ product.product_image.url }}{% else %}{% static 'images/generic_product.png' %}{% endif %}
                                 ) ">
                    </div>
                    <div class="card-body">
                        <p class="card-title ta-center">{{ product.type }}</p>
                        <p>{{ product.name }}</p>
                        <p class="ta-center font-weight-bold text-danger">{{ product.price }} BGN</p>
                        <a href="{% url 'details product' product.id %}" class="btn btn-primary">See details</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <br>
        <h3 class="ta-center">New Additions</h3>
        <br>
        <div class="d-flex justify-content-center flex-wrap">
            {% for product in new_additions %}
                <div class="card">
                    <div class="product-image"
                         style="background-image: url(
                                 {% if product.product_image %}{{ product.product_image.url }}{% else %}{% static 'images/generic_product.png' %}{% endif %}
                                 ) ">
                    </div>
                    <div class="card-body">
                        <p class="card-title ta-center">{{ product.type }}</p>
                        <p>{{ product.name }}</p>
                        <p class="ta-center font-weight-bold text-danger">{{ product.price }} BGN</p>
                        <a href="{% url 'details product' product.id %}" class="btn btn-primary">See details</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <br>
    {% endif %}
    <h3 class="ta-center">Go to <a href="{% url 'all products' %}" class="btn btn-primary">All Products</a></h3>
    <br>
{% endblock %}
