{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
    {% if not trending_products and new_additions %}
        <br>
        <h3 class="title-big text-capitalize">No products available!</h3>
    {% else %}
        <br>
        <h3 class="title-big text-capitalize">Trending Products</h3>
        <br>
        <div class="d-flex justify-content-center flex-wrap">
            {% for product in trending_products %}
                {% include 'shared/product_card.html' %}
            {% endfor %}
        </div>
        <br>
        <h3 class="title-big text-capitalize">New Additions</h3>
        <br>
        <div class="d-flex justify-content-center flex-wrap">
            {% for product in new_additions %}
                {% include 'shared/product_card.html' %}
            {% endfor %}
        </div>
        <br>
    {% endif %}
    <h3 class="text-center">
        Go to
        <button class="main-btn">
            <a href="{% url 'all products' %}">All Products</a>
        </button>
    </h3>
    <br>
{% endblock %}
